* {
  box-sizing: border-box;
  padding: 0;
  margin: 0px;
}

body {
  background-image: url("../images/weather2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-color: #cccccc;
}

#header-text {
  color: #ffffff;
  font-family: "Viga", sans-serif;
  font-size: 22pt;
  font: outline;
}

#header {
  margin: auto;
  padding: 20px;
  background-color: #0677ac;
  opacity: 90%;
  column-span: all;
}

.card {
  margin-left: 150px;
  margin-top: 20px;
  opacity: 80%;
  border: solid;
}
