* {
  box-sizing: border-box;
  padding: 0;
  margin: 0px;
}

body {
  background-image: url("../images/weather2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-color: #cccccc;
}

#header-text {
  color: #ffffff;
  font-family: "Viga", sans-serif;
  font-size: 22pt;
  font: outline;
}

#header {
  margin: auto;
  padding: 20px;
  background-color: rgb(4, 51, 105, 0.9);
  column-span: all;
}

#five-city {
  background-color: #fff5d3;
}

#city-name {
  color: #a52323;
}

.card {
  margin-left: 150px;
  margin-top: 20px;
  border: solid;
  background-color: rgb(209, 209, 209, 0.9);
}
